[sequence]
	editor = rebase-editor
[core]
	editor = nano
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigation = true
	side-by-side = true
	line-numbers = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
    gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f


[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-github

[includeIf "gitdir:~/Ocean/"]
    path = ~/.gitconfig-ocean
[credential "https://ocean.ghe.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.ocean.ghe.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
