[sequence]
	editor = rebase-editor
[core]
	editor = nano
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
    gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f


[includeIf "gitdir:~/Projects/"]
    path = ~/.gitconfig-github

[includeIf "gitdir:~/Ocean/"]
    path = ~/.gitconfig-ocean
