zmodule zimfw/completion
zmodule zimfw/git
zmodule zimfw/input
zmodule zimfw/utility
zmodule romkatv/powerlevel10k
zmodule zsh-users/zsh-autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting
