<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.theo.brew-idle-upgrade</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/theo/Projects/mac-install/bin/brew-idle-upgrade.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>StandardOutPath</key>
  <string>/Users/theo/Library/Logs/com.theo.brew-idle-upgrade.out</string>
  <key>StandardErrorPath</key>
  <string>/Users/theo/Library/Logs/com.theo.brew-idle-upgrade.out</string>
  <key>LowPriorityBackgroundIO</key>
  <true/>
  <key>LowPriorityIO</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
